/** {
    color:purple
}*/

p {
    color:forestgreen;
     font-family: "Lobster", sans-serif;
     font-size: 22px;
}
* {
    text-align: center;
}
.a {
    color:#ff0000;
}
* {
    background-color:blanchedalmond;
}
b {
    font-weight: bold;
    color:darkgoldenrod;
}
#c {
    font-weight: bold;
    color:darkgoldenrod;
    text-align: right;
}
div {
    font-size: 22px;
}